<html ng-app="chessProjectApp">

    <head>
        <meta charset="utf-8" />
        <title>Login - ChessProject</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    </head>

    <div ng-controller="loginCtrl">
        <h1>Login:</h1>
        <input type="text" ng-model="login.name"></input>
        <h1>Password:</h1>
        <input type="password" ng-model="login.password"></input>
        <button ng-click="attemptLogin(login)">Realizar Login</button>
        <h3>{{loginAttemptResult}}</h3>
        <h3>Token: {{loginToken}}</h3>
    </div>

</html>