<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app='chessProjectApp'>
<head>
    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../js/controller/angularController.js"></script>
</head>

<title>Chess Project - MainScreen</title>
<h1>Welcome to the PGN ChessProject</h1>
<body>
    <h1>Choose a game to resume playing or create a new one!</h1>
    <div ng-controller='listGamesCtrl'>

    </div>
    <h3>Games List</h3>

</body> 

</html>
